body{
  background-image: url("leaf.jpg");
}

h1{
  color:red;
  
}

img{

}
h3{
  width:20%;
  height:20px;
  text-align: center;
  border: 90px solid green;
  border-radius: 4px;
}

p, h1, h2, h3 {
  color: white;
}
  
a{
  color: white;
}
  
 
