body{
  background-image: url("leaf.jpg");
}

h1{
  color:red;
  
}

img{

}
h3{
  width:30%;
  height:200px;
  text-align: center;
  border: 2px solid green;
}

p, h1, h2, h3 {
  color: white;
}
  
  
  
 
