body{
  background-image: url("leaf.jpg");
}

h1{
  color:red;
  
}

img{

}
h3{
  width:20%;
  height:20px;
  text-align: center;
  border: 25px solid purple;
  border-radius: 40px;
}

p, h1, h2, h3, li {
  color: white;
}
  
a{
  color: white;
}
  
#special{
  background-color: grey;
  width:20%;
}

#special2{
background-color: grey;
width:20%;

}

nav ul li{
  display: inline-block;
  padding-left: 20px;
}
section{
  margin-top:50px;

